.vertical .carousel-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vertical .carousel-item {
  flex: 1;
  width: 100%;
}

.vertical .carousel-control-prev,
.vertical .carousel-control-next {
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: -10px;
  bottom: auto;
  right: auto;
  transform: translateY(-50%);
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: #fff; /* Add background color if needed */
}
